$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772ff;
$color-form-highlight: #eeeeee;

.table-wrapper {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .table {
    width: 100%;
    border: 1px solid $color-form-highlight;
    font-size: 1.2rem;
    height: 430px;
    overflow: auto;

    .table-header {
      display: flex;
      width: 100%;
      background-color: #dfdfdf;
      color: #000;
      font-weight: bold;
      padding: ($half-spacing-unit * 1.5) 0;

      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .table-content {
    margin-top: 50px;

    .table-row {
      display: flex;
      width: 100%;
      padding: ($half-spacing-unit * 1.5) 0;
    }
  }
}

.table-data,
.header-item {
  flex: 1 1 20%;
  text-align: center;
  font-weight: bold;
}

.header-item {
  text-transform: uppercase;

  .sort-icon {
    cursor: pointer;
    margin-left: 1rem;
  }
}
